@model LoginViewModel

@{
    Layout = "_auth_layout";
}

<form method="post">
    <label asp-for="Username">Username:</label>
    <input asp-for="Username" />

    <label asp-for="Password">Password:</label>
    <input asp-for="Password" type="password" />

    <button type="submit">Login</button>
</form>