html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
h1, h2{
  text-align: center;
}

.row {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.col-md-3, .col-md-9, .col-md-6 {

  justify-content: center; 
  align-items: center; 
  height: 100%;
  width: 100%;
}


.btn{
  padding: 15px 30px;
  font-size: 18px;
  background-color: #d60b0b !important; 
  color: white;      
  border: 2px solid #d60b0b !important; 
  border-radius: 8px; 
  width: 100%; 
  text-align: center; 
  text-transform: uppercase; 
  font-family: 'Arial', sans-serif; 
  transition: all 0.3s ease; 
}
.btn:hover
{
  background-color: #b20b0b !important; 
  border-color: #b20b0b !important; 
}

.btn:active
{
    background-color: #930909 !important; 
    border-color: #930909 !important; 
}



html, body {
  height: 100%; 
  margin: 0;
}

body {
  margin-bottom: 60px;
  background-color: #2f3136;
  font-family: 'Arial', Courier, monospace, sans-serif;
  color: rgb(225, 228, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  flex-direction: column;
  text-align: center;

}

.navbar {
  background-color: #2f3136 !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
  align-items: center; 
  padding: 0; 
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0; 
}

.navbar-nav .nav-item .nav-link {
  background-color: #d60b0b; 
  color: white !important; 
  border-radius: 5px; 
  padding: 10px 20px; 
  text-transform: uppercase; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 50px; 
  font-size: 16px;
  min-width: 120px; 
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #b20b0b; 
}

.navbar-nav .nav-item .nav-link.active {
  background-color: #930909; 
}

.table
{
  color: aliceblue  !important;
}

.nav-pills .nav-link {
  background-color: #d60b0b; 
  color: white; 
  border-radius: 5px; 
  padding: 10px 20px; 
  text-transform: uppercase; 
  font-size: 16px;
  text-align: center;
  width: 100%;
  display: block; 
  margin-bottom: 5px; 
}


.nav-pills .nav-link:hover {
  background-color: #b20b0b; 
  color: #fff; 
}


.nav-pills .nav-link.active {
  background-color: #930909; 
  color: white;
}

.nav-pills .nav-item #profile {
  background-color: #d60b0b;
}

.nav-pills .nav-item #profile:hover {
  background-color: #b20b0b; 
}